{% extends "base.html" %} {% block title %}Aclima Analyzer {% endblock %} {% block content %}



<h4 align='center'>Fill In</h4>
<div id="container" align='center'>
    <input type='text' id='member' name='member' placeholder='Enter your repeat text' value=''>
    <br>
    <br>
    <button type="submit" class="btn btn-primary" href="#" id="filldetails" onclick="addFields()">Calculate me!</button>
    <p id="inputString"></p>
</div>

<br>

<script>
    function performClear(text_input) {
        console.log("check out" + text_input)
        document.getElementById("member").value = ``;
    }
    var count = 0;
    let inputs_array = [];

    function addFields() {
        count++;
        var container = document.getElementById("container");
        var input = document.createElement("input");
        input.type = "text";
        input.id = "input";
        input.value = document.getElementById("member").value;
        inputs_array.push(input.value)
        console.log("inputs_array" + inputs_array)

        //calculate the pairs
        var text_input = document.createElement("text_input");
        text_input.type = "text";
        var text_input = document.getElementById("member").value;

        console.log(input);
        var neighbour_count = {};
        var words = text_input.split(" ")
        words = words.map(function(x) {
            return (x.toLowerCase()).replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]/g, "");
        })
        console.log((words))
            // make lowercase
        console.log(words);
        for (var [index, element] of words.entries()) {
            if (index + 1 < words.length) {
                var wordPair = [];
                if (element > words[index + 1]) {
                    var wordPair = [element, words[index + 1]]
                } else {
                    var wordPair = [words[index + 1], element]
                }
                console.log("wordPair is: " + wordPair)
                if (wordPair in neighbour_count) {
                    neighbour_count[wordPair] += 1
                } else {
                    neighbour_count[wordPair] = 1
                }
            }
        }
        container.appendChild(document.createElement("br"));
        container.appendChild(document.createTextNode("Result:  "));
        container.appendChild(document.createTextNode(JSON.stringify(neighbour_count)));

        // previous_input button announces previous input used
        var name = `${count}`
        console.log("ceers " + this.text_input)
        var $previous_input = $('<input name=`${name}` type="button" onclick="performClear(`${text_input}`)" value="use previous input" />')
        $previous_input.appendTo(container);
        $previous_input.click(function() {
            console.log("Called " + count + " times" + text_input);
            console.log(inputs_array[count - 1]);
            if (input) {
                var input_el = document.getElementById("member");
                input_el.innerHTML = text_input;
            }
            var dummy = document.createElement("textarea");
            document.body.appendChild(dummy);
            dummy.value = text_input;
            dummy.select();
            document.execCommand("copy");
            /* Alert the copied text */
            alert("Copied the original input: " + dummy.value)
            document.body.removeChild(dummy);
        });

        container.appendChild(document.createElement("br"));
        console.log(container)
    }
</script>
{% endblock %}