{% extends "base.html" %} {% block title %}Aclima Sign Up Page {% endblock %} {% block content %}

<head>
    <title>Upload Image</title>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>

<body>

    {% if msg %}
    <h1>{{ msg }}</h1>
    {% endif %}

    <h1>Upload new File</h1>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <h1>Result:</h1>
    {% if img_src %}
    <img src="{{ img_src }}"> {% endif %} {% if extracted_text %}
    <p> The extracted text from the image above is: <b> {{ extracted_text }} </b></p>

    {% else %} The extracted text will be displayed here {% endif %}
</body>



<h1 align="center">Text Inputs</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        <p1><b>input:</b></p1>
        {{ note.input }}
        <div class="container text-center" id="inputNote" value={{note.input}}> </div>
        <p1><b>result:</b></p1>
        {{ note.data }}
        <button type="button" name="close " id="close" class="close" onClick="deleteNote({{note.id}})">
                <span aria-hidden="true">&times;</span>
        </button>
        <!-- reuseNote({{note.id}}) -->
        <button type="button" class="btn btn-outline-primary" id='btnID' value="{{note.input}}" onClick="reapply(value)">
            <span aria-hidden="true">copy input</span>
        </button>
        <script>
            function reapply(value) {
                // creates a dummy text area for the intended copied value and copies
                // fetches the reuse function to flash copied message
                var dummy = document.createElement("textarea");
                document.body.appendChild(dummy);
                dummy.value = value;
                dummy.select();
                document.execCommand("copy");
                document.body.removeChild(dummy);
                fetch("/reuse-note", {
                    method: "POST",
                    body: JSON.stringify({}),
                }).then((_res) => {
                    window.location.href = "/";
                });
            }
        </script>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <input type="text" name="note" id="note" class="form-control" value='{{ extracted_text }}'>
    <br />
    <div align="center">
        <button type="submit" id="addNote" class="btn btn-primary">Add Text</button>
    </div>
</form>
<br> {% endblock %}